@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display :flex;
    flex-direction: column;
}


html, body {
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    
}

/* utils */

.bold {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}


.fa-square-plus {
    color: #79C75A;
}

/* header */

header {
    height: 10vh;
    padding: 2rem 0;
    margin: 3.5rem 0 6.3rem 0;
}

header .container  {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo .logo--text {
    font-size: 3rem;
    margin-left: 2rem;
    letter-spacing: .5rem;
}

header .navbar {
    display: flex;
    align-items: center;
}

header .navbar .navbar__item {
    font-size: 1.7rem;
    margin-left: 3.5rem;
    padding: 1rem;
    border-bottom: 2px solid black;
}

header .navbar .navbar__item i {
    padding-right: 1rem;
}

header .navbar .navbar__item .navbar--link {
    color: black;
    font-weight: 700;
}

/* hero */


.hero {
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/hero.jpg');
    background-size: cover;
    background-position: 10% center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-bottom: 3.6rem;
}
    
.welcome-box {
    color: white;
}

.welcome-box h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 5rem;
}

/* collections */

.collections--header {
    font-size: 2rem;
    margin-bottom: 4.4rem;
}

.collection--item {
    padding: 2rem;
    border-left: 8px solid black;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.4rem;
    text-transform: uppercase;
}

.collection--item .fa-list {
    font-size: 2rem;
}

.collection--delete {
    background-color: #FF0000;
    color: white;
    padding: 1rem;
    border: none;
}



/* single todo item page */

.todo_dte  {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    
}


.todo-date  {
    margin-bottom: 2rem;
    font-weight: 400;
}

/* metrics */

.metrics {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}


.metrics__card {
    flex-basis: 30%;
    background-color: #FAFAFA;
    padding: 3rem 2rem;
    font-size: 1.8rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  
}

.metrics__card .metric__text {
    font-weight: 200;
}

.metrics__card .metric-icon {
    font-size: 4rem;
    margin-right: 3rem;
}

.metrics__card .metric-total {
    color: #CC61B3;
}
.metrics__card .metric-remaining {
    color: #1D86FF;
}
.metrics__card .metric-done {
    color: #79C75A;
}

/* todos */


.todos, .todos-archived {
    margin-bottom: 3rem;
}

.todo__item, .archived__item {
    padding: 3rem 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #EDF1F2;
}

.archived__item {
    color: #969595;
    text-decoration: line-through;
}


 .delete-todo-btn {
    margin-right: 1.5rem;
    color: #FF0000;
}

.todo__item .check-todo-btn {
    margin-right: 1.5rem;
    color: #79C75A;
}



/* form */

.todo-form {
    display: flex;
    padding: 2rem;
    align-items: center;
}

.form-image, .form-inputs {
    flex-basis: 50;
}

.form-inputs {
    width: 100%;
}
.form-inputs form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 2rem;
    font-weight: 500;
}

.form-inputs input[type=text] {
    display: block;
    font-size: 18px;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: .5rem;
    margin: 2rem 0;
    padding: 1rem ;
}

.form-inputs input[type=text]:focus {
    outline:none;
    border: 2px solid #1D86FF;
}

.form-inputs input[type=submit]
{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    color: white;
    background: #1D86FF;
    padding: .8rem 2rem;
    align-self: flex-end;
    cursor: pointer;
}

.form-inputs input[type=submit]:hover {
    background: rgba(25, 118, 224, 0.855)
}


footer {
    margin-top: auto;
    background: #1D86FF;
    padding: 5rem 0;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .footer--link {
    font-size: 1.5rem;
    color: inherit;
}


/* delete form */


.confirm-form {
    max-width: 70%;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #969595;
    border-radius: 1rem;
}
.confirm-form h1 {
    margin-bottom: 4rem;
    font-weight: 400;
}

.confirm-form  button {
    display: inline-block;
    border: none;
    padding: .8rem 1.4rem;
    margin-right: 3rem;
    cursor: pointer;
    font-size: 1.7rem;
    color: white;
}

.confirm-form .back-btn {
    background:#1D86FF;
}

.confirm-form .delete-btn {
    background:#FF0000;
}

.confirm-form .tag-btn {
    background:#79C75A;
}