{% extends 'base.html' %} {% block content %}
<section class="hero">
  <div class="welcome-box">
    <h2>Welcome User</h2>
  </div>
</section>

<section class="collections">
  <h3 class="collections--header">HERE ARE YOUR TODO COLLECTIONS</h3>

  <div class="collection">
    {% if todos | length < 1%}
    <h1>There are no todo list, Add by clicking the add collection at the top corner</h1>
    {% else %} {% for todo in todos %}
    <div class="collection--item">
      <a href={{ url_for('todos', id=todo._id) }}
        ><i class="fa-solid fa-list"></i> {{todo.name}}</a
      >

      <a href="#" class="collection--delete">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
    {% endfor %} {% endif %}
  </div>
</section>
{% endblock %}
