<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Do It!</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://kit.fontawesome.com/ad24da7ae7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="#">
            <img src="/static/images/logo.svg" alt="app-logo" class="logo--image" />
          </a>
          <h1 class="logo--text">TODO</h1>
        </div>

        <nav>
          <ul class="navbar">
            <li class="navbar__item">
              <i class="fa-solid fa-square-plus"></i><a href="#" class="navbar--link">COLLECTION</a>
            </li>
            <li class="navbar__item">
              <a href="#" class="navbar--link">HOME</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <section class="hero">
          <div class="welcome-box">
            <h2>Welcome User</h2>
          </div>
        </section>

        <section class="collections">
          <h3 class="collections--header">HERE ARE YOUR TODO COLLECTIONS</h3>

          <div class="collection">
            <div class="collection--item">
               <a href="#"><i class="fa-solid fa-list"></i> PATRICK'S COLLECTION  </a> 
              
              <a href="#" class="collection--delete">
                <i class="fa-solid fa-trash"></i>
              </a>

              </a>
            </div>

            <div class="collection--item">
              <a href="#"><i class="fa-solid fa-list"></i> JEREMY'S COLLECTION </a> 
             
             <a href="#" class="collection--delete">
               <i class="fa-solid fa-trash"></i>
             </a>

             </a>
           </div>

           <div class="collection--item">
            <a href="#"><i class="fa-solid fa-list"></i> GAMES I NEED TO PLAY </a> 
           
           <a href="#" class="collection--delete">
             <i class="fa-solid fa-trash"></i>
           </a>

           </a>
         </div>

         <div class="collection--item">
          <a href="#"><i class="fa-solid fa-list"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, molestiae.</a> 
         
         <a href="#" class="collection--delete">
           <i class="fa-solid fa-trash"></i>
         </a>

         </a>
       </div>

       <div class="collection--item">
        <a href="#"><i class="fa-solid fa-list"></i> GAMES I NEED TO PLAY </a> 
       
       <a href="#" class="collection--delete">
         <i class="fa-solid fa-trash"></i>
       </a>

       </a>
     </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <div class="container">
        <a href="#" class="footer--link">
          Made by Patrick Navarro
        </a>
        <a href="#" class="footer--link">
          Check out my other projects
        </a>
      </div>
    </footer>
  </body>
</html>
