<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Do It!</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://kit.fontawesome.com/ad24da7ae7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="#">
            <img src="/static/images/logo.svg" alt="app-logo" class="logo--image" />
          </a>
          <h1 class="logo--text">TODO</h1>
        </div>

        <nav>
          <ul class="navbar">
            <li class="navbar__item">
              <i class="fa-solid fa-square-plus"></i><a href="#" class="navbar--link">TODO</a>
            </li>
            <li class="navbar__item">
              <a href="#" class="navbar--link">HOME</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="todo_dte">
          <h1 class="todo-date">Tuesday, 12th</h1>
          <h1 class="todo-date todo-date--month">July</h1>
        </div>

        <!-- metrics -->
        <section class="metrics">
          <div class="metrics__card">
            <i class="fa-solid fa-chart-pie metric-icon metric-total"></i>
            <div class="metric-count">
              <h2 class="metric__text"><span class="bold">5</span> TOTAL</h2>
            </div>
          </div>
          <div class="metrics__card">
            <i class="fa-solid fa-note-sticky metric-icon metric-remaining"></i>
            <div class="metric-count">
              <h2 class="metric__text"><span class="bold">3</span> REMAINING</h2>
            </div>
          </div>
          <div class="metrics__card">
            <i class="fa-solid fa-thumbs-up metric-icon metric-done"></i>
            <div class="metric-count">
              <h2 class="metric__text"><span class="bold">2</span> DONE</h2>
            </div>
          </div>
        </section>

        <!-- todos -->

        <section class="todos">
          <h1>Active</h1>
          <div class="todo__item">
            <p class="todo__item-text">Exercise for 50 mins</p>

            <div class="todo__item-actions">
              <a href="#" class="delete-todo-btn">
                <i class="fa-solid fa-trash"></i>
              </a>
              <a href="#" class="check-todo-btn">
                <i class="fa-solid fa-square-check"></i>
              </a>
            </div>
          </div>

          <div class="todo__item">
            <p class="todo__item-text">Play age of conan for 2 hours</p>

            <div class="todo__item-actions">
              <a href="#" class="delete-todo-btn">
                <i class="fa-solid fa-trash"></i>
              </a>
              <a href="#" class="check-todo-btn">
                <i class="fa-solid fa-square-check"></i>
              </a>
            </div>
          </div>

          <div class="todo__item">
            <p class="todo__item-text">Eat dinner</p>

            <div class="todo__item-actions">
              <a href="#" class="delete-todo-btn">
                <i class="fa-solid fa-trash"></i>
              </a>
              <a href="#" class="check-todo-btn">
                <i class="fa-solid fa-square-check"></i>
              </a>
            </div>
          </div>
        </section>

        <!-- Archived todos -->
        <section class="todos-archived">
          <h1>Archived</h1>

          <div class="archived__item">
            <p class="archived__item-text">Do Laundry</p>

            <div class="archived__item-actions">
              <a href="#" class="delete-todo-btn">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
          </div>

          <div class="archived__item">
            <p class="archived__item-text">Watch movie</p>

            <div class="archived__item-actions">
              <a href="#" class="delete-todo-btn">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <div class="container">
        <a href="#" class="footer--link"> Made by Patrick Navarro </a>
        <a href="#" class="footer--link"> Check out my other projects </a>
      </div>
    </footer>
  </body>
</html>
